*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --gray: #707070;
    --dark_green: #568C1F;
    --green: #8CBF1F;
  }

.hidden{
    display: none;
}

/* Scrollbar styles */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
  
::-webkit-scrollbar-thumb {
    background-color: var(--green);
    border-radius: 10px;
}
  
::-webkit-scrollbar-thumb:hover {
    background-color: var(--dark_green);
}
  
::-webkit-scrollbar-track {
    background-color: #f0f0f0;
    border-radius: 10px;
}

body {
    display: grid;
    grid-template-columns: minmax(200px, 22.5vw) 77.5vw;
    grid-template-rows: minmax(72px, 11vh) 89vh;
    grid-template-areas:
    "nav header"
    "nav main"; 
    height: 100vh;
    overflow: hidden;
  }
  
header {
    grid-area: header;
    box-shadow: 0px 4px 6px #00000029;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
  
nav {
    grid-area: nav;
    height: 100vh;
    min-width: 100px;

    color: var(--unnamed-color-242625);
    text-align: left;
    font: normal normal 600 27px/37px Segoe UI;
    letter-spacing: 0px;
    color: #242625;
    display: flex;
    flex-flow: column nowrap;
    box-shadow: inset -4px 0px 6px #00000029;
}
.navItem{
    height: 37px;
    text-align: left;
    text-decoration: none;
    color: var(--gray);
    padding: 0 10%;
    margin-top: 50px;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}
.navItem:nth-of-type(1){
    margin-top: 25px;
}
.navLogo{
    width: 28px;
    height: 27px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: .1s;
}

#logoHouse{
    background-image: url("../images/house.svg"); 
}
#logoHouseActive{
    background-image: url("../images/house-fill.svg"); 
}
.navItem:hover #logoHouse{
    background-image: url("../images/house-fill.svg"); 
}
#logoBasket{
    background-image: url("../images/basket.svg");
}
#logoBasketActive{
    background-image: url("../images/basket-fill.svg");
}
.navItem:hover #logoBasket{
    background-image: url("../images/basket-fill.svg"); 
}
#logoFile{
    background-image: url("../images/file-bar-graph.svg");
}
#logoFileActive{
    background-image: url("../images/file-bar-graph-fill.svg");
}
.navItem:hover #logoFile{
    background-image: url("../images/file-bar-graph-fill.svg"); 
}

main {
    grid-area: main;
    height: 100%;
    overflow-y: scroll;
}

h1{
    font: normal normal 700 46px/50px Segoe UI;
    color: #707070;
    width: 95%;
    margin: 60px auto 40px;
}

#title{
    background-image: url(../images/title.svg);
    width: 308px;
    height: 55px;
    margin: 2px 0 0 -5px;
}
#titleArrow{
    background-image: url(../images/titleArrow.svg); 
    width: 150px;
    height: 72px;
}
.logo{   
    background-repeat: no-repeat;
    position: absolute;
}
#logoContainer{
    margin: 0 0 0 37px;
    height: 72px;
    width: 100%;
}
@keyframes arrowAnim{
    from {
        width: 0;
      }
    
      to {
        width: 150px;
      }
}


table {
  border-collapse: collapse;
  width: 90%;
  margin: 20px auto;
  overflow: visible;
}

td{
    font: normal normal 500 16px/25px Segoe UI;
    letter-spacing: 0px;
}

th, td {
  /* border: 1px solid #ddd; */
  padding: 10px;
  text-align: center;
  color: #707070;
}

.descriptionInTd{
    text-align: left;
    font-weight: 400;
}

.tdContainer{
    margin: 0 auto;
    width: 80%;
}

th {
    background-color: var(--green);

    position: sticky;
    top: -1px;
    z-index: 1;

    font: normal normal 600 18px/20px Segoe UI;
    letter-spacing: 0px;
    color: white;
  }
  
tr:nth-child(even) {
    background-color: hsl(85, 50%, 95%);
}
  
tr:hover {
 
    background-color: hsl(85, 50%, 90%);
}

.mainImage {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 30px;
}
.typeIcon {
  width: 30px;
  height: 30px;
  object-fit: cover;
}

button {
  background-color: var(--green);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: .1s;
}

button:hover {
  background-color: var(--dark_green);
}

.typeCircle{
    width: 15px;
    height: 15px;
    border-radius: 7.5px;
    margin: 0 auto;
}
.circleRed {
    background-color: #E57373; /* lighter dark red */
}
.circleOrange {
    background-color: #FFA07A; /* lighter dark orange */
}
.circleGreen {
    background-color: #228B22; /* lighter dark green */
}
.circleYellow {
    background-color: #DAA520; /* lighter dark golden yellow */
}
.circleBlue {
    background-color: #4682B4; /* lighter dark blue */
}
.circleBrown {
    background-color: #A0522D; /* lighter dark brown */
}
.circleWhite {
    background-color: #DEB887; /* light beige */
}
.circleGrey {
    background-color: #BEBEBE; /* lighter dark grey */
}


#consumptionSubTitle{
    font: normal normal 500 20px/25px Segoe UI;
    letter-spacing: 0px;
    color: #707070;
    width: 93.5%;
    margin: 0 auto 10px;
}
#totalList li{
    font: normal normal 500 16px/25px Segoe UI;
    list-style: none;
    letter-spacing: 0px;
    color: #707070;
    width: 90%;
    margin: 0 auto;
}
#totalList{
    margin-bottom: 60px;
}
